<mat-accordion>
  <mat-expansion-panel class="ExpantionPanel">
    <mat-expansion-panel-header >
      <mat-panel-title> {{ launchpad.name }} </mat-panel-title>
      <mat-panel-description> {{ launchpad.region }} </mat-panel-description>
    </mat-expansion-panel-header>

    @if (launchpad.launches.length) {
      <h5 class="Title">Launches</h5>

      @for (launch of launchpad.launches; track launch.id) {
        <app-launch [launch]="launch" class="Launch"></app-launch>
      }
    }
    @else {
      <div class="Empty">Launchpad without launches</div>
    }

  </mat-expansion-panel>
</mat-accordion>
